#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "menu searchbar"
    "menu banner";
}

#root .menu {
  grid-area: menu;
}

#root .searchbar {
  grid-area: searchbar;
}

#root main {
  grid-area: banner;
}
