@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

.banner {
  font-family: "Lobster Two", cursive;
  font-size: 3rem;
}

.banner span {
  background-color: #2e496b;
}
