@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

.banner {
  font-family: "Lobster Two", cursive;
  padding: 1rem;
  margin: 4rem 8rem;
  font-weight: lighter;
  font-size: 10rem;
  text-align: center;
}

.banner span {
  padding: 0 2rem;
  background-color: #2e496b;
}
